<!DOCTYPE html>
<html>
<head>
  {% include gtag.html %}
  <link rel="shortcut icon" href="https://cdn.yeahgames.net/img/branding/logos/default/logo.png" type="image/x-icon"><html>

  <title>Full-screen player | YGP</title>
  <link rel="stylesheet" href="/assets/game.css">
  <style>
    body{transform: scale(280%)!important}
  </style>
</head>

<body>
  <!--Loader-->
  <div id="overlay" style="display: none;">
    <img src="/assets/loading.gif" alt="Loading..." class="loading-gif">
    &#160;&#160;Loading your game...
  </div>

  <!--Player-->
  <center>
    <desmond-player style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, 15%);"
      id="player"></desmond-player>
  </center>

  <!--Zoom-->
  <div class="container">
    <div id="buttons-container">
      <button id="plus-button">+</button>
      <button id="minus-button">-</button>
    </div>
  </div>

  <!--Scripts-->
  <script src="/dist/desmond.min.js"></script>
  <script src="/zip/dist/jszip.js"></script>
  <script src="/assets/game.js"></script>
    <script>
    window.onload = function () {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '{% if page.exthost %}{{page.exthost}}{% else %}game.zip{% endif %}', true);
      xhr.responseType = 'blob';

      xhr.onload = function () {
        if (xhr.status === 200) {
          var zipFile = xhr.response;

          // new zip
          var zip = new JSZip();

          // load
          zip.loadAsync(zipFile).then(function (zip) {

            // retrieve from archive
            zip.file("game.nds").async("blob").then(function (file) {

              // player.loadurl
              var objectUrl = URL.createObjectURL(file);
              document.getElementById("player").loadURL(objectUrl);
            });
          });
        }
      };

      xhr.send();
    };

    const resourceUrl = "{% if page.exthost %}{{page.exthost}}{% else %}game.zip{% endif %}";

    function showOverlay() {
      document.getElementById("overlay").style.display = "flex";
    }

    function hideOverlay() {
      document.getElementById("overlay").style.display = "none";
    }

    function updateProgress(loaded, total) {
      const percentage = Math.round((loaded / total) * 100);
      const progressBar = document.querySelector("#progress-bar .progress-bar-fill");
      progressBar.style.width = percentage + "%";
    }

    // on loading failure
    function showFailureMessage(errorCode) {
      const overlay = document.getElementById("overlay");
      if (errorCode !== 200) {
        const errorMessage = `<center><div>Failed to load the resource.<br>Error Code: <b>${errorCode}</b><br><br><button style="width:50px;height:25px" type='button' onclick="toggleText()"><b>Help</b></button><p id='demo' style='display: none;width:30%'>If you're on a school Chromebook, you most likely can't load the game because its storage is full and thus doesn't have enough allocated memory to load & cache large files in the browser.<br><br> You can fix this by clearing the disk. To do this, hold down <code>Esc+Refresh+Power</code> then press <code>Ctrl+D</code>. Once it loads, press enter, let it load, and press enter again. Then log in as normal. <br><br>Learn more by clicking the game page's help button, or by visiting <a href="https://arcade.yeahgames.net/tools/help/chromebook">https://arcade.yeahgames.net/tools/help/chromebook</a>.</P></div></center>`;
        overlay.innerHTML = errorMessage;
      } else {
        overlay.innerHTML = "Resource loaded successfully!";
      }
    }

    function toggleHiddenText() {
      const hiddenText = document.querySelector(".hidden-text");
      hiddenText.style.display = hiddenText.style.display === "none" ? "block" : "none";
    }

    function checkResourceLoading() {
      const xhr = new XMLHttpRequest();
      xhr.open("GET", resourceUrl, true);
      xhr.responseType = "blob";

      xhr.addEventListener("load", function () {
        if (xhr.status === 200) {
          hideOverlay();
        } else {
          const errorCode = xhr.status;
          showFailureMessage(errorCode);
        }
      });

      xhr.addEventListener("progress", function (event) {
        if (event.lengthComputable) {
          updateProgress(event.loaded, event.total);
        }
      });

      xhr.addEventListener("error", function () {
        const errorCode = xhr.status;
        showFailureMessage(errorCode);
      });

      xhr.send();
    }
    showOverlay();
    checkResourceLoading();
  </script>
</body>

</html>